
@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model eCommerce.Web.Models.CustomerViewModels.TransactionHistoryViewModel

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 blog-sidebar">
                <h4>Profile</h4>
                <ul class="blog-categories">
                    <li><a href="~/Customer/Profile/">Edit Profile</a></li>
                    <li><a href="~/Customer/AddressList/">Address</a></li>
                    <li><a href="~/Customer/Transaction/"><strong>Transaction History</strong></a></li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-9">
                <div class="blog-post blog-single-post">
                    @*<!-- info customer -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <strong>Code: </strong>TRX-06212017-00001<br />
                            <strong>Transaction Date: </strong>06/21/2017 7:00 AM<br />
                            <strong>Customer: </strong>Customer's Name<br />
                            <strong>Total Price: </strong>Rp. 350.000,00<br />
                        </div>
                        <!-- info receiver -->
                        <div class="col-sm-8 invoice-col">
                            <strong>Receiver's Name: </strong>Receiver's Name<br />
                            <strong>Receiver's Address: </strong>This is the fakest street ever No.001, City, Province, ZIP Code
                        </div>
                    </div>
                    <!-- /.row -->*@
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-md-12 col-xs-12 table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Transaction Date</th>
                                        <th>Total Price</th>
                                        <th>Receiver Address</th>
                                        <th>Transaction Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListTransaction)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.TglTransaksi.ToString("dd-MMM-yyyy")</td>
                                            <td>Rp. @item.TotalPrice</td>
                                            <td>@(item.ShippingDetails.Provinsi + "," + item.ShippingDetails.Kota + "," + item.ShippingDetails.KodePos + "," + item.ShippingDetails.AlamatPengiriman)</td>
                                            <td>@item.CurrentStatus</td>
                                            <td><a class="btn btn-info" href="~/Customer/TransactionDetails?TransactionId=@item.Id">Details</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- End Blog Post -->
        </div>
    </div>
</div>


