@model eCommerce.Core.CommerceClasses.Banks.Bank

@{
    ViewData["Title"] = "AddBank";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Add/Edit Bank</h2>
                        <div class="clearfix"></div>
                        <a href="@Url.Action("ManageBank", "AdminTransaction")"><i class="fa fa-caret-left"></i> Back</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="x_content">
                        @using (Html.BeginForm("AddBank", "AdminTransaction", null, FormMethod.Post, true, htmlAttributes: new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Bank Name</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Nama, htmlAttributes: new { @class = "form-control bank-field"})
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Account No.</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.AccountNumber, htmlAttributes: new { @class = "form-control bank-field", type="number", min = "0"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Account Holder</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.AccountHolder, htmlAttributes: new { @class = "form-control bank-field" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <button type="submit" class="btn btn-primary" id="btn-submit-bank">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/AdminTransaction/admin-transaction.js"></script>
