@using eCommerce.Web.Models.AdminProduct

@model DetailsProductViewModel

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Product Details/Edit</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal" novalidate="">

                <!--nama barang-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Nama Barang
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @*<input type="text" id="nama-barang" class="form-control col-md-6 col-xs-12">*@
                        @Html.TextBoxFor(e => e.Product.Nama, new { @id="namabarangDetails", @class= "form-control col-md-6 col-xs-12" })
                    </div>
                </div>
                <!--nama barang end-->
                <!--kategori-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Kategori
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-category">
                        <!-- ganti dropdown pake razor -->
                        @{
                            var ListBoxCategory = new List<SelectListItem>();
                            ListBoxCategory.Insert(0, new SelectListItem { Text = "Pilih Category", Value = "", Selected = true });
                            foreach (var item in Model.listCategory)
                            {
                                ListBoxCategory.Add(
                                    new SelectListItem { Text = item.Nama, Value = item.Id.ToString() }
                                );
                            }
                        }
                        @Html.DropDownListFor(e => e.Product.CategoryId, ListBoxCategory, new { @id = "DDLCategoryDetails", @class = "form-control", @onchange= "GetSubCategory('#DDLCategoryDetails', '#DDLSubCategoryDetails')" })
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-subcategory">
                        <!-- ganti dropdown pake razor -->
                        @{
                            var ListBoxSubCategory = new List<SelectListItem>();
                            ListBoxSubCategory.Insert(0, new SelectListItem { Text = "Pilih Sub Category", Value = "", Selected = true });
                            foreach (var item in Model.listSubCategory)
                            {
                                ListBoxSubCategory.Add(
                                    new SelectListItem { Text = item.Nama, Value = item.Id.ToString() }
                                );
                            }
                        }
                        @Html.DropDownListFor(e => e.Product.CategoryId, ListBoxSubCategory, new { @id = "DDLSubCategoryDetails", @class = "form-control", @onchange= "GetBrandListByCategory('#DDLSubCategoryDetails', '#DDLBrandDetails')" })
                    </div>
                </div>
                <!--kategori end-->
                <!--brand-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Brand
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <!-- ganti dropdown pake razor -->
                        @{
                            var ListBoxBrand = new List<SelectListItem>();
                            ListBoxBrand.Insert(0, new SelectListItem { Text = "Pilih Brand", Value = "", Selected = true });
                            foreach (var item in Model.listBrand)
                            {
                                ListBoxBrand.Add(
                                    new SelectListItem { Text = item.Nama, Value = item.Id.ToString() }
                                );
                            }
                        }
                        @Html.DropDownListFor(e => e.Product.BrandId, ListBoxBrand, new { @id = "DDLBrandDetails", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Options
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- ganti dropdown pake razor -->
                        @for (var i = 0; i < Model.listOptions.Count; i++)
                        {
                            <div class="col-md-1">
                                @Html.CheckBoxFor(e => e.listOptions[i].Selected, new { @class=""})
                            </div>
                            <div class="col-md-2">
                                @Model.listOptions[i].Options.OptionName
                            </div>
                        }
                    </div>
                </div>
                <!--brand end-->
                <!--gambar-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Gambar
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12" id="wrapper">
                        <input type="file" id="fileUpload" multiple="multiple">
                        <br />
                        <div>
                            <img id="image-barang" style="width:100px" />
                            <div id="image-holder" style="display:block"></div>
                        </div>
                    </div>
                </div>
                <!--gambar end-->
                <!--harga-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Harga
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="harga-barang" class="form-control col-md-6 col-xs-12">
                    </div>
                </div>
                <!--harga end-->
                <!--status-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Status
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- ganti dropdown pake razor -->
                        <select class="form-control">
                            <option>Choose option</option>
                            <option value="1">Tersedia</option>
                            <option value="0">Tidak Tersedia</option>
                        </select>
                    </div>
                </div>
                <!--status end-->
                <!--deskripsi-->
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        Deskripsi
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </div>
                <!--deskripsi end-->
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
