@model eCommerce.Web.Models.TransactionViewModels.CheckOutViewModel

@{ 
    ViewData["Title"] = "Check Out";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Check Out</h1>
            </div>
        </div>
    </div>
</div>

<hr />
@using (Html.BeginForm("CancelCheckOut", "Transaction", new { TransactionHeaderId = Model.Transaction.Id}, FormMethod.Post, true, htmlAttributes: new { @class = "form-horizontal" }))
{
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn-danger">Back to Cart</button>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("ConfirmTransaction", "Transaction", new { TransactionHeaderId = Model.Transaction.Id}, FormMethod.Post, true, htmlAttributes: new { @class = "form-horizontal" }))
{
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Shipping Information</h1>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Receiver Name</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ShippingDetail.NamaPenerima, htmlAttributes: new { @class = "form-control required-field"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Address Name</label>
                    </div>
                    <div class="col-md-8">
                        <!--View Bag Alamat-->
                        <select id="dropdown-alamat" class="form-control required-field required-dropdown" asp-items="@(new SelectList(ViewBag.Alamat, "Id", "NamaAlamat"))"></select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Address</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ShippingDetail.AlamatPengiriman, htmlAttributes: new { @class = "form-control", @readonly = "readonly"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">City</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ShippingDetail.Kota, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Province</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ShippingDetail.Provinsi, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Postal Code</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ShippingDetail.KodePos, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Shipping Vendor</label>
                    </div>
                    <div class="col-md-8">
                        <!--Drop down shipper-->
                        <select asp-for="ShippingDetail.ShipperId" class="form-control  required-field required-dropdown" asp-items="@(new SelectList(ViewBag.Shipper, "Id", "Nama"))"></select>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary pull-right" disabled="disabled" id="btn-submit-order">Submit Order</button>
            </div>
        </div>
    </div>
</div>
}
<br />

<script type="text/javascript" src="~/js/Custom/transaction-jquery.js"></script>




